.items_list.simple_list.simple_list_history_activity {
	margin: 0 0 10px;

	.item {
		.event_date {
			width: 200px;
			display: inline-block;
		}
		.event_ip {
			width: 200px;
			display: inline-block;
		}
		.event_user {
			width: 300px;
			display: inline-block;
		}
		&.item_info {
			text-align: center;
			padding: 10px;
		}
	}
}
